header,
nav,
article,

/*for every page*/
/* pledge page */
/*sign up page*/
/* log in page*/
/*pledge page*/
table,th,td {
	border: 2px solid #A8A8A8;
}

.button{
	width: 100%;
	font-size:20px;
}
h1.grid-container{
	float: center;
}

/* */
footer {
    display: block;
}

body {
    background-color: #fff;
    font-size: 16px;
    background-size: 100%;
}

div#welly_donate {
    margin: auto;
    width: 100%;
    float: left
}

div#biggest_donation {
    float: center;
	border-radius: 20px;
	border: 3px solid red;  
  	outline: 3px solid blue;  
  	font-size: 20px;  
  	font-weight: bold;  
 	margin: 30px;  
  	padding: 30px;  
  	outline-offset: 0.5em;  
}
.all_fundraisers{
	width:400px;
	float:left;
	background-color:#fff;
	font-family:'Droid Serif',serif;
	padding-left:30px
}
.form {
	width:400px;
	float:left;
	background-color:#fff;
	font-family:'Droid Serif',serif;
	padding-left:30px

}
div#top_fundraiser_event {
    margin: auto;
    float: center;
}

.grid-container all_fundraiser {
    margin: auto;
    float: center;
}
header {
    padding: 5px 5px;
    background-color: #F19C99;
    text-align: left;
	display: flex;
    justify-content: space-between;
	width: 850;

}

header h1 {
    color: #000;
    font-size: 35pt;
    font-family: monospace;
	text-align: left;
}

header h2 {
    color: #000;
    font-size: 28pt;
    font-family: monospace;
	text-align: center
}

nav{
    float: right;
    
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: inherit;
}

nav ul li{
    width: 90px;
    height: 40px;
    float: right;
    line-height: 40px;
    text-align: right;
}

nav ul li a{
    color: #000;
    text-decoration: none
	text-align: right;

}

nav ul li a:hover{
    text-decoration: underline;/**this is so that when i hover over the links to the other pages it underlines**/
}

nav ul li ul li{
    display: none;
    border: 0.5px solid #dbcc8f;
    border-radius: 3px 3px 3px 3px;
}

nav ul li:hover ul li{
    display: block;
    position: relative
}

aside {
	width: 180px;
    height: 680px;
	padding: 10px;
	font-family: Arial, Verdana, sans-serif;
	background-color: #f6e0b3;
	float: left;
    margin: 10px 15px 15px 0px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px #dbcc8f;
}

article {
    padding: 20px;
    background-color: #fff5eb;
	float: left;
    overflow: hidden;
    margin-top: 15px;
    height: 667px
}

h1 {
    font-family: monospace;
    color: #000;
    text-shadow: 2px 2px #fff;
}

h2 {
    font-family: Arial, Verdana, sans-serif;
    color: #000;
	text-align: left;
}

h3{
    font-family: Arial, Verdana, sans-serif;
    color: #000;
}
p{
	font-family: sans-serif;
	size: 16px; 
	color: #000;
}

img {
	float: right;
	padding: 8px;
}

/** Footer, box with the copyright information **/
footer {
    background-color: #F19C99; 
	padding: 0px 20px;
	width: 850;
	clear: both;
	text-align: center;
	font-family: monospace;
	overflow: auto;	/**This will make the footer hold all the elements in it**/		
}

footer p{
	color: #000;
}
#smalltext {
	font-size: 12px;
	text-align: center;
	color: #000;
}